{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "CoinGecko": {
    "ApiKey": "PUT-YOUR-COINGECKO-DEMO-KEY-HERE"
  }
}
